.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__user-img .m-widget19__img {
    width: 6.2rem !important;
}
.m-widget19 .m-widget19__content .m-widget19__body {
    color: #f4f5f8;
    padding-left:7rem;
}
.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__info {
    padding-left: 1rem !important;
}
.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__info .m-widget19__username {
    font-size: 2rem !important;
}
.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__info .m-widget19__time {
    padding-top: 1rem;
}
.m-widget19 .m-widget19__action {
    margin-top: 1.5rem;
    padding-left: 7rem;
}
.m-teacher{
    background: #163261 !important;
}
.m-widget19 .m-widget19__content .m-widget19__username {
    color: #f4f5f8 !important;
}
.m-widget19 .m-widget19__content .m-widget19__time {
    color: #f4f5f8 !important;
}
.m-widget19 .m-widget19__content .m-widget19__body {
    color: #f4f5f8 !important;
}
.m-widget19 .m-widget19__content .m-widget19__stats{
    color: #f4f5f8 !important;
    padding-right: 1rem;
}
.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__stats .m-widget19__comment {
    min-width: 2rem !important;
}
.m-widget1 {
    padding: 0.2rem !important;
}
.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    height: 96% !important;
    padding: 1.7rem 0 1.5rem 0;
}
.m-container-teacher,.m-portlet-teacher {
    background: #5867dd !important;
}
.m-portlet-teacher-static{
    background: #222852 !important;
}
.m-widget1__item .m-widget1__title {
    color: #f4f5f8 !important;
}
.m-portlet {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.form-group.m-form__group.row.live-lists {
    background: #ebedf2;
    padding: 5px;
}
.m-widget5 .m-widget5__item .m-widget5__pic>img {
    width: 18.6rem !important;
    height: 10rem !important;
}
.m-form .m-form__group {
    margin-bottom: 0;
     padding-top: 0px;
     padding-bottom: 0px;
}
.m-form .m-form__group label.col-form-label {
    padding-top: .65rem;
    margin-right: -30px;
}
.m-widget5 .m-widget5__item .m-widget5__stats1 {
    display: table-cell;
    text-align: right;
    width: 7.1rem;
    padding-top: 3.07rem;
    vertical-align: top;
}
.m-widget5 .m-widget5__item .m-widget5__stats2 {
    display: table-cell;
    text-align: right;
    width: 7.1rem;
    padding-top: 3.07rem;
    vertical-align: top;
}


/*教师工作室文章*/
.m-widget-article .m-widget5__title {
    font-size: 1.5rem !important;
}

.m-widget-article-small .m-widget5__item .m-widget5__pic>img {
    width: 12.6rem !important;
    height: 7rem !important;
}